.checkbox {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border: 1px solid #f0f0f0;
  font-size: 14px;
  white-space: nowrap;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox input:checked + span {
  background-color: #007aff;
  color: white;
  border-color: #007aff;
}

.checkbox span {
  border-radius: 12px;
  padding: 4px 8px;
  transition: background-color 0.2s, color 0.2s;
}

.checkbox:hover {
  background-color: #ebebeb;
}

.checkbox input:checked + span:hover {
  background-color: #005bb5;
}
