.sorter-custom-sidebar{
    max-height:100vh;
    overflow:scroll;
    width:300px;
    position:fixed;
    right:0px;
}

.sorter-custom-section{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.sorter-custom-section h4{
    width:100%;
}

.sorter-custom-checkbox {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    border: 1px solid #f0f0f0;
    font-size: 14px;
    white-space: nowrap;
  }
  
  /* Hide the actual checkbox */
  .sorter-custom-checkbox input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  /* Checked state */
  .sorter-custom-checkbox input:checked + span {
    background-color: #007aff;
    color: white;
    border-color: #007aff;
  }
  
  /* Default text styling */
  .sorter-custom-checkbox span {
    border-radius: 12px;
    padding: 4px 8px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  /* Hover effect */
  .sorter-custom-checkbox:hover {
    background-color: #ebebeb;
  }
  
  /* Active effect */
  .sorter-custom-checkbox input:checked + span:hover {
    background-color: #005bb5;
  }